<div class="container">
  <div class="left-div">
    <div class="card">
      <img src="../../../../assets/images/Logo.png" width="50px">

      <h2>Ravis de vous revoir !</h2>

      <div class="inputs-div">
        <label>Nom de l'utisateur</label>
        <input id="username" type="text" placeholder="nom de l'utilisateur" #username>
        <Label>Mot de passe</Label>
        <input id="password" type="password" placeholder="mot de passe" #password>
        <i style="margin-left:95%;" [class]="isPasswordVisible ? 'fa fa-eye-slash' : 'fa fa-eye'" (click)="togglePasswordVisibility(password)"></i>
      </div>

      <button (click)="onSubmit(username.value,password.value)">Se connecter</button>
      <p  class="error-message">{{ errorMessage }}</p>
    </div>
  </div>

  <div class="right-div">
    <img src="../../../../assets/images/ImageLogIn.png" width="450vh">
  </div>
</div>
