<div class="container">
  <div class="left-div">
    <div class="card">
      <img src="../../../../assets/images/Logo.png" width="50px">

      <h2>Ravis de vous revoir !</h2>

      <div class="inputs-div">
        <label>Email</label>
        <input type="email" placeholder="xxx@gmail.com">
        <Label>Mot de passe</Label>
        <input type="password" placeholder="mot de passe">
        <i id="togglrPassword" class="fa fa-fw fa-eye toggle-password field-icon"></i>
        
      </div>

      <button>Se connecter</button>
    </div>
  </div>

  <div class="right-div">
    <img src="../../../../assets/images/ImageLogIn.png" width="450vh">
  </div>
</div>
