.container{

  display: flex;
  justify-content: start;
  height: 100vh;

}

.left-div{
  
  padding: 15vh 8vw;
  width: 50vw;
  background-color: #EEF4FF;

}

.card{

  display: flex;
  flex-direction: column; /* Flex items will be arranged vertically */
  justify-content: center; /* Align items at the top by default */
  gap: 10px; /* Add spacing between items */
  align-items: center;

  background-color: white;
  border-radius: 20px;
  padding: 30px 20px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) ;

}

.inputs-div{

  padding: 10px 0px;

  width: 100%;

  display: flex;
  flex-direction: column; /* Flex items will be arranged vertically */
  justify-content: start; /* Align items at the top by default */

}

input{
  font-family: "Quicksand", serif;
  
  height: 25px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 5px 10px;

  border: 1px solid #ccc; /* Light gray border */
  outline: none;
  border-radius: 5px;
  transition: border-color 0.3s ease;

}

input:focus {
  border-color: #3958B3; /* Blue border on focus */
}

button{

  font-family: "Quicksand", serif;

  background-color: #3958B3;
  color: white;
  font-size: 18px;
  font-weight: 800;
  border: none;
  border-radius: 20px;

  padding: 20px 25%;
  cursor: pointer;

  transition: background-color 0.3s, color 0.3s, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out ;
}

button:hover{
  background-color: #EEF4FF;
  color: #3958B3;
  border-color: grey;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) ;
}

.right-div{
  
  padding: 20vh 10vw;
  width: 35vw;
  background-color: #3958B3;
  
}

.error-message {
  color: red; /* Ensure text color is visible */
  font-size: 16px; /* Ensure it's readable */
  display: block; /* Ensure it's not hidden */
}