<div class="container">

  <img src="../../../../assets/images/TrackMed1.png" width="180px" class="logo">

  <button (click)="goToHome()">

    <div class="button-div">
      <img src="../../../assets/icons/ic_home.png" width="25px" height="25px">
      <p>Accueil</p>
    </div>

  </button>

  @if (user.role === "Administratif" ){

  <button>

    <div class="button-div" (click)="router.navigate(['admin/gestionPatient'])">
        <img src="../../../assets/icons/ic_patient.png" width="25px" height="25px">
        <p>Gérer patients</p>
      </div>
    </button>
  }

  @if (user.role === "Laborantin"){

    <button (click)="router.navigate(['rabLabInf/geneGraph'])">
      <div class="button-div">
        <img src="../../../assets/icons/ic_graph.png" width="25px" height="25px">
        <p>Générer un graphe</p>
      </div>
  </button>

  }

  <button>

    <div class="button-div">
      <img src="../../../assets/icons/ic_settings.png" width="25px" height="25px">
      <p>Paramètres</p>
    </div>

  </button>

  <div class="empty-div"></div>

  <button>

    <div class="button-div" (click)="goToDisconnect()">
      <p>Se déconnecter</p>
      <img src="../../../assets/icons/ic_exit.png" width="25px" height="25px">
    </div>

  </button>
  
</div>
