.container{

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  padding: 100px 20px;
  padding-bottom: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) ;
  background-color: #EEF4FF;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;


  height: 80vh;

  position: fixed;
  top: 0;
  left: 0;
}

.button-div{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.empty-div{
  height: 100%;
}

button{
  font-family: "Quicksand", serif;
  font-size: 18px;
  font-weight: 800;
  color: #3958B3;

  width: 100%;
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 10px;

  cursor: pointer;

  transition: box-shadow 0.3s ;
}

button:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) ;
}

p{
  margin: 0;
}

