<app-header (changeDashEvent)="updateDashboardVisibility($event)" /> <!-- Header component with event binding to update dashboard visibility -->

<div class="content"> <!-- Main container for the content -->

  <div class="empty-dash"> <!-- Empty dashboard space to hold the dashboard component -->
    <app-dash-board *ngIf="isDashBoardVisible"></app-dash-board> <!-- Dashboard component shown conditionally based on 'isDashBoardVisible' -->
  </div>

  <div class="container"> <!-- Container for patient list and content -->

    @defer { <!-- Defer is when a component needs to load, so we show something while loading -->

      @if (listePatient().length === 0) { <!-- Check if the patient list is empty -->

        <div class="center-div"> <!-- Centered container for the empty state -->
          <img src="../../../../../assets/images/Task_empty.png" width="280px" > <!-- Display an image when no patients are found -->
          <h3>Aucun patient trouvé</h3> <!-- Title for no patients found -->
          <h4>Aucun patient en cours de traitement, veuillez revenir plus tard</h4> <!-- Subtext when no patients are being treated -->
        </div>

      } @else { <!-- Else, if there are patients -->

        <h2>Liste des patients en cours d'hospitalisation:</h2> <!-- Title for the patient list -->

        @for (item of listePatient(); track item.nss) { <!-- Loop through each patient and track by 'nss' -->

          <div class="item" (click)="goConsult(item.id)"> <!-- Display each patient item, clickable to go to consult page -->
      
            <div class="profile"> <!-- Profile section for each patient -->
              <h3>{{ item.user.first_name }} {{ item.user.last_name }}</h3> <!-- Patient's first and last name -->
              <p>Nss: {{ item.nss }} </p> <!-- Patient's NSS -->
            </div>
            
            <div class="empty-div"></div> <!-- Empty space divider between profile and QR code -->

            <div class="qr-code"> <!-- QR code section -->
              <img [src]="item.qrcode" alt="QR Code" /> <!-- Display the patient's QR code -->
            </div>   
          </div>
        }

      }
  
      
    } @loading (minimum 2s) { <!-- Minimum 2 seconds loading delay to show loading screen -->

      <div class="center-div"> <!-- Centered container for loading screen -->
        <app-loading-screen /> <!-- Loading screen component -->
      </div>
    }
  
  </div>
</div>
