<app-header (changeDashEvent)="updateDashboardVisibility($event)" />

<div class="content">

  <div class="empty-dash">
    <app-dash-board *ngIf="isDashBoardVisible"></app-dash-board>
  </div>

  <div class="container">

    @defer { <!--Defer is when component needs to load so we show something while loading-->

      <h1>Bienvenue chers patient {{user.first_name}} {{user.last_name}}</h1>
  
      
    } @loading (minimum 0.5s) { <!--Nesstennaw minimum 4s besh naffichiw @defer-->
      <div class="center-div">
        <app-loading-screen />
      </div>
    }
  
  </div>
</div>

