<!-- Include the header component for the accueil (home) page -->
<app-header-accueil />

<!-- Main container for the layout -->
<div class="container">

  <!-- Text section that will contain heading and description -->
  <div class="text-div">
    <!-- Main heading with bold font weight, introducing the platform -->
    <h1 style="font-weight: 700;">Bienvenue sur <span>TrackMed,</span></h1>
    <!-- Secondary heading with regular font weight, describing the solution -->
    <h1 style="font-weight: 400;">la meilleure solution de gestion des dossiers médicaux informatisés.</h1>

    <!-- Description paragraph explaining the benefits of the platform -->
    <p>Simplifiez la gestion de vos dossiers médicaux avec un système intuitif et sécurisé.</p>
  </div>

  <!-- Image section that will contain an image related to the content -->
  <div class="image-div">
    <!-- Displaying an image of the system or platform -->
    <img class="doc-image" src="../../../../assets/images/AccueilPhoto.png">
  </div>
</div>
