/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

html, body {
  font-family: "Quicksand", serif;
  margin: 0;
  padding: 0;
  scrollbar-width: none; /* For Firefox */
}

* {
  outline: none;
}