.content {
  display: flex; /* Enables flexbox layout */
  margin-top: 100px; /* Top margin for spacing */
  gap: 20px; /* Space between child elements */
  align-items: flex-start; /* Align items to the top */
  margin-left: 20%; /* Space reserved for the sidebar */
}

.center-div {
  width: 80vw; /* Occupies 80% of the viewport width */
  height: 80vh; /* Occupies 80% of the viewport height */
  display: flex; /* Enables flexbox layout */
  flex-direction: column; /* Arranges items vertically */
  justify-content: center; /* Centers items vertically */
  align-items: center; /* Centers items horizontally */
}

.container {
  display: flex; /* Enables flexbox layout */
  flex-direction: column; /* Arranges items vertically */
  gap: 20px; /* Space between child elements */
  margin: 0 20px; /* Horizontal margins */
  width: 100%; /* Takes full width of the parent */
  padding-bottom: 20px; /* Adds spacing at the bottom */
}

.container2 {
  display: flex; /* Enables flexbox layout */
  flex-direction: column; /* Arranges items vertically */
  gap: 10px; /* Space between child elements */
  width: 100%; /* Takes full width of the parent */
}

.card {
  display: flex; /* Enables flexbox layout */
  flex-direction: column; /* Arranges items vertically */
  justify-content: flex-start; /* Aligns items to the top */
  gap: 30px; /* Space between child elements */

  padding: 40px 40px; /* Inner padding */
  border-radius: 20px; /* Rounded corners */
  background-color: #EEF4FF; /* Light blue background */
  width: 50%; /* Half of the parent width */
  margin: auto; /* Centers the card horizontally */

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adds shadow effect */
}

.horiz-div {
  display: flex; /* Enables flexbox layout */
  gap: 10px; /* Space between child elements */
  align-items: center; /* Aligns items vertically in the center */
}

input {
  font-family: "Quicksand", serif; /* Sets font style */
  height: 25px; /* Input height */
  padding: 5px 10px; /* Inner padding */

  width: 50%; /* Half of the parent width */
  border: 1px solid #ccc; /* Light gray border */
  outline: none; /* Removes default outline */
  border-radius: 5px; /* Rounded corners */
  transition: border-color 0.3s ease; /* Smooth transition for border color */
}

input:focus {
  border-color: #3958B3; /* Changes border color to blue when focused */
}

button {
  font-family: "Quicksand", serif; /* Sets font style */

  background-color: #3958B3; /* Blue background */
  color: white; /* White text color */
  font-size: 18px; /* Font size */
  font-weight: 800; /* Bold font weight */
  border: none; /* Removes border */
  border-radius: 20px; /* Rounded corners */
  width: 20%; /* Width of the button */

  padding: 10px 10px; /* Inner padding */
  cursor: pointer; /* Changes cursor to pointer on hover */

  transition: background-color 0.3s, color 0.3s, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Smooth transitions for hover effects */
}

button:hover {
  background-color: #EEF4FF; /* Light blue background on hover */
  color: #3958B3; /* Changes text color to blue on hover */
  border-color: grey; /* Changes border color on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adds shadow effect on hover */
}
