<header class="header-div">

  <button class="desactivated">
    <img src="../../../assets/icons/threeLines.png" width="30">
  </button>

  <img src="../../../assets/images/TrackMed1.png" width="280px">
  <div class="empty-div"></div>

  @if (isNotiPage()) { <!--Ida rana fe page notification, le bouton de noti yetbeddel-->

    <button class="activated">
      <img src="../../../assets/icons/NotiActi.png" width="25">
    </button>

  } @else { <!--Sinon, maransh fe notification-->

    <button class="desactivated" (click)="goToNotifications()">
      <img src="../../../assets/icons/NotiDesacti.png" width="25">
    </button>
  }
  
  <div class="pfpInfo-div">

    <img src="../../../assets/icons/pfp.png" width="30">
    <div class="info-div">
      <p>Tati Youcef</p>
      <p>Admin</p>
    </div>
    
  </div>
</header>
