.header-div{

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 40px;
  padding: 10px 30px;
  background-color: #3958B3;

}

.empty-div{
  width: 100%;
}

.activated{
  background-color: white;
  border: none;
  border-radius: 30px;
}

.desactivated{
  background-color: transparent;
  border: none;
}